alembic==1.6.5
appdirs==1.4.4
apturl==0.5.2
argon2-cffi==21.1.0
astroid==2.2.5
attrs==21.2.0
Babel==2.9.0
backcall==0.2.0
bleach==4.1.0
blinker==1.4
catfish==4.16.0
certifi==2020.6.20
cffi==1.15.0
chardet==4.0.0
click==8.0.3
colorama==0.4.4
command-not-found==0.3
cryptography==3.3.2
cupshelpers==1.0
dbus-python==1.2.16
debugpy==1.5.1
decorator==5.1.0
defer==1.0.6
defusedxml==0.7.1
distlib==0.3.1
distro==1.5.0
distro-info==1.0
ecdsa==0.13.2
entrypoints==0.3
filelock==3.0.12
Flask==2.0.2
Flask-Cors==3.0.10
Flask-Migrate==3.1.0
Flask-Moment==1.0.2
Flask-Script==2.0.6
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.15.1
future==0.17.1
greenlet==1.1.0
gunicorn==20.0.4
gyp==0.1
httplib2==0.18.1
idna==2.10
importlib-metadata==1.6.0
iniconfig==1.1.1
ipykernel==6.4.2
ipython==7.28.0
ipython-genutils==0.2.0
ipywidgets==7.6.5
isort==4.3.18
itsdangerous==2.0.1
jedi==0.18.0
jeepney==0.6.0
Jinja2==3.0.2
jsonschema==4.1.2
jupyter==1.0.0
jupyter-client==7.0.6
jupyter-console==6.4.0
jupyter-core==4.8.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.2
keyring==22.2.0
language-selector==0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.5
lazy-object-proxy==1.4.0
lightdm-gtk-greeter-settings==1.2.2
Mako==1.1.4
MarkupSafe==2.0.1
matplotlib-inline==0.1.3
mccabe==0.6.1
menulibre==2.2.1
mistune==0.8.4
more-itertools==4.2.0
mugshot==0.4.3
nbclient==0.5.4
nbconvert==6.2.0
nbformat==5.1.3
nest-asyncio==1.5.1
netifaces==0.10.9
notebook==6.4.5
oauthlib==3.1.0
olefile==0.46
onboard==1.4.1
packaging==21.0
pandocfilters==1.5.0
parso==0.8.2
pbr==5.6.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.1.2
pluggy==0.13.1
postgres==3.0.0
prometheus-client==0.11.0
prompt-toolkit==3.0.21
psutil==5.8.0
psycopg2-binary==2.8.6
psycopg2-pool==1.1
ptyprocess==0.7.0
py==1.10.0
pycairo==1.16.2
pycparser==2.20
pycryptodome==3.3.1
pycups==2.0.1
Pygments==2.10.0
PyGObject==3.38.0
PyJWT==1.7.1
pylint==2.3.1
pyparsing==2.4.7
pyrsistent==0.18.0
pytest==6.2.2
python-apt==2.1.7+ubuntu2
python-dateutil==2.6.0
python-debian==0.1.39
python-dotenv==0.19.1
python-editor==1.0.4
python-jose-cryptodome==1.3.2
pytz==2021.1
PyYAML==5.3.1
pyzmq==22.3.0
qtconsole==5.1.1
QtPy==1.11.2
reportlab==3.5.66
requests==2.25.1
SecretStorage==3.3.1
Send2Trash==1.8.0
sgt-launcher==0.2.5
simplejson==3.17.2
six==1.12.0
SQLAlchemy==1.4.25
systemd-python==234
terminado==0.12.1
testpath==0.5.0
testresources==2.0.1
toml==0.10.2
tornado==6.1
traitlets==5.1.1
typed-ast==1.4.2
ubuntu-advantage-tools==24.4
ubuntu-drivers-common==0.0.0
ufw==0.36
unattended-upgrades==0.1
urllib3==1.26.2
virtualenv==20.4.0+ds
wadllib==1.3.5
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.0.2
widgetsnbextension==3.5.1
wrapt==1.11.1
WTForms==2.3.3
xcffib==0.8.1
xkit==0.0.0
zipp==1.0.0
